<header [@animate]="'fadeIn'" id="w-header">
	<section id="whl" class="wh-link pad-l-20">
		<a  href="/" class="mar-r-10"><img id="hbp" src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/witty-logo-icon-w_qtyz0j.svg" alt="wittycircle-logo"></a>
		<li class="pad-x-15 freigb"><a href="/discover">Discover</a></li>
		<li class="pad-x-15 freigb"><a href="/meet">Meet</a></li>
		<li class="pad-x-15 freigb"><a href="/learn">Learn</a></li>
	</section>
	<section id="whb" class="wh-button">
		<a href="" class="border-bottom-w freigb">Post a project</a>
	</section>
	<section id="whs" class="wh-search">
		<input class="freigb" type="search" placeholder="Search for people, projects and ideas..." />
	</section>
	<section id="whlog" class="wh-log pad-r-20">
		<li class="pad-x-15 freigb"><a href="">Log In</a></li>
		<li class="freigb"><a class="wh-joinus" href="">Join us</a></li>
	</section>
</header>