/* You can add global styles to this file, and also import other style files */

/**** GENERAL STATE ****/

body {
	margin: 0;
}

li {
  list-style-type: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button:focus {
  outline: 0;
}

a, li {
	text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: white;
}


/*** GENERAL FONT ***/

.freigb {
	font-family: 'FreigBook';
	font-size: 16px;
}

.freigl {
	font-family: 'FreigLight';
	font-size: 16px;
}

.freigm {
	font-family: 'FreigMed';
	font-size: 16px;
}

.freigb {
	font-family: 'FreigSem';
	font-size: 16px;
}


/**** GENERAL PADDING/MARGIN ****/

/** PADDING **/
.paddding-all-10 {
	padding: 10px;
}

.padding-all-15 {
	padding: 15px;
}

.padding-all-20 {
	padding: 15px;
}

.padding-x-5 {
	padding: 0 5px;
}

.padding-x-10 {
	padding: 0 10px;
}

.padding-x-15 {
	padding: 0 15px;
}

.padding-y-5 {
	padding: 5px 0;
}

.padding-y-10 {
	padding: 10px 0;
}

.padding-y-15 {
	padding: 15px 0;
}

.padding-left-5 {
	padding-left:  5px;
}

.padding-left-10 {
	padding-left:  10px;
}

.padding-left-15 {
	padding-left:  15px;
}

.padding-left-20 {
	padding-left:  20px;
}	

.padding-right-5 {
	padding-right:  5px;
}

.padding-right-10 {
	padding-right:  10px;
}

.padding-right-15 {
	padding-right:  15px;
}

.padding-right-20 {
	padding-right:  20px;
}

/** MARGIN **/
.margin-left-5 {

}

.margin-left-10 {

}

.margin-left-15 {

}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-right-15 {
	margin-right: 15px;
}

/**** GENERAL BORDER ****/

.border-bottom-b {
	border-bottom: 1px solid #222;
}

.border-bottom-w {
	border-bottom: 1px solid #fff;
}
