<div id="main-body-page" >
	<div class="body-page body-main-page bg-default">
		<div id="hvbg" class="home-video-bg">
			<video poster="/public/images/poster/poster_home_signup.jpg" loop muted autoplay>
				<source src="public/videos/Home.mp4" type="video/mp4" />
			</video>
		</div>
		<div id="hibg" class="home-image-bg"></div>

		<section id="main-discover">
			<!-- <div class="row" ng-if="mobile">
				<div class="main-title-market-mobile">
					<h1>Meet Nish, first head of marketing & community at Yelp!</h1>
				</div>
				<div class="main-title-text-mobile">
					<h4>Nobody can build great things alone. Share your idea or project to our community, get instant feedback and be connected to the right people, at the right time.</h4>
				</div>
				<div class="main-button-discover">
					<div class="button-start-project">
						<button data-ui-sref="discover">Explore our projects</button>
					</div>
					<div class="button-discover">

						<button data-ui-sref="meet">Meet our community</button>
					</div>
				</div>
				<div onclick="scrollToBf()" class="main-info">
					<p>How can we help?</p>
				</div>
			</div> -->
			<section [@animate]="'fadeIn'" class="main-discover-slick slick-slider">

				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>We are scaling the entrepreneurial ecosystem</h1>
					</div>
					<div class="main-title-text">
						<h4>Nobody can build great things alone. We give exposure to all the ideas, projects and startups from around the world and connect them to our community and the people they need, instantly.</h4>
					</div>
					<div class="main-button-discover">

						<div class="button-start-project marginb">
							<button data-ui-sref="meet">Find the people you need</button>
						</div>
						<div class="button-discover marginb">
							<button data-ui-sref="discover">Discover projects to help</button>
						</div>
					</div>
				</div>

				<!-- <div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Need a helping hand?</h1>
					</div>
					<div class="main-title-text">
						<h4>They are designers, engineers, product lovers, artists, programmers, entrepreneurs, writers, students, marketers, investors, business developers, and much more.</h4>
					</div>

					<div class="main-button-discover">
						<div class="button-discover">
							<button data-ui-sref="meet">Find the people you need</button>
						</div>
					</div>
				</div>

				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Get inspired, find the next big thing</h1>
					</div>
					<div class="main-title-text">
						<h4>Ideas, products, side projects: they all need people like you to be turned into real things. Discover thousands of them and see how you can help.</h4>
					</div>
					<div class="main-button-discover">
						<div class="button-start-project">
							<button data-ui-sref="discover">Discover projects to help</button>
						</div>
					</div>
				</div>

				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Get exposure and find the people you need, instantly</h1>
					</div>
					<div class="main-button-discover" style="margin-top: 30px">
						<div class="button-start-project">
							<button ng-click="main.goforstarter()">Post a project</button>
						</div>
					</div> -->
<!-- 				</div>
 -->			</section>
		</section>

		<h3 *ngFor="let project of projects">{{project.title}}</h3>
	</div>

	<app-home-trending></app-home-trending>
</div>
