<header id="w-header">
	<section id="whl" class="wh-link padding-left-20">
		<a  href="/" class="margin-right-10"><img id="hbp" src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/witty-logo-icon-w_qtyz0j.svg" alt="wittycircle-logo"></a>
		<li class="padding-x-15"><a href="/discover">Discover</a></li>
		<li class="padding-x-15"><a href="/meet">Meet</a></li>
		<li class="padding-x-15"><a href="/learn">Learn</a></li>
	</section>
	<section id="whb" class="wh-button">
		<a href="" class="border-bottom-w">Post a project</a>
	</section>
	<section id="whs" class="wh-search">
		<input type="search" placeholder="Search for people, projects and ideas..." />
	</section>
	<section id="whlog" class="wh-log padding-right-20">
		<li class="padding-x-15"><a href="">Log In</a></li>
		<li class="margin-right"><a class="wh-joinus" href="">Join us</a></li>
	</section>
</header>