/****** HEADER  ******/

#w-header {
	display: inline-flex;
	position: absolute;
	width: 100%;
	padding: 12px 0px;
	background-color: transparent;
	align-items: center;
	z-index: 1000;

	.wh-link {
		display: inline-flex;

		align-items: center;

		img {
			width: 32px;
		}
	}

	.wh-button {
		flex-shrink: 0;

		a {
			margin: 0 25px;
		}
	}

	.wh-search {
		flex-grow: 1;

		input {
			width: 400px;
			border: none;
			font-size: 16px;
			padding: 10px 10px 10px 35px;
			background-color: transparent;
			background-image: url('/public/images/search-icon-b.svg');
			background-repeat: no-repeat;
			background-position: 0% 50%;
		}
	}

	.wh-log {
		display: inline-flex;
		flex-shrink: 0;

		li {
			.wh-joinus {
				padding: 6px 15px;
				border: 2px solid white;
				border-radius: 4px;
			}

			.wh-joinus:hover {
				color: #222;
				background-color: #fff;
			}
		}
	}
}